In [1]:
x = "hello"
x

'hello'

In [2]:
print(x)

hello

In [7]:
a = 3
b = 8

a=a+b
b=a-b
a=a-b

In [9]:
a,b

(8, 3)

In [10]:
a=3.4
type(a)

float

In [11]:
a=2
if(a%2==0):
    print("even")
else:
    print("odd")

even

In [13]:
a=23
if(a<10):
    print("Lesser than 10")
elif(a>10 | a<15):
    print("Greater than 10, Lesser than 15")
else:
    print("Greater than 15")

Greater than 15

In [14]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [16]:
a = input("Enter a number: ")
print(type(a))

Enter a number: 2
<class 'str'>

In [21]:
def calc(a,b,c):
    if(c=="+"):
        print(a+b)
    elif(c=="-"):
        print(a-b)
    elif(c=="/"):
        print(a/b)
    elif(c=="%"):
        print(a%b)
    elif(c=="*"):
        print(a*b)
    else:
        print("Check opr")

a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = input("Enter opr: ")
calc(a,b,c)

Enter a: 4
Enter b: 5
Enter opr: *
20

In [29]:
def rev(string,string2, ch):
    if(ch=="reverse"):
        string = string[::-1]
        print(string)
    elif(ch=="copy"):
        string=string2
        print(string)
    elif(ch=="concat"):
        string=string+string2
        print(string)
    else:
        print("Enter correct choice")
    
x = "hello"
y = "world"
z = input("Enter choice(reverse,copy,concat): ")
rev(x,y,z)

Enter choice(reverse,copy,concat): copy
world

In [3]:
list = [1,2,"hello", 12.34]
print(list)

[1, 2, 'hello', 12.34]

In [3]:
for i in list:
    print(i)

1
2
hello
12.34

In [4]:
list[1:3]

[2, 'hello']

In [5]:
list.append(20)

In [6]:
list

[1, 2, 'hello', 12.34, 20]

In [7]:
list.pop()

20

In [8]:
list

[1, 2, 'hello', 12.34]

In [5]:
list[1:4]

[2, 'hello', 12.34]

In [6]:
list2 = ["world", 45,67,85]
newlist = list+list2

In [7]:
newlist

[1, 2, 'hello', 12.34, 'world', 45, 67, 85]

In [8]:
for i in newlist:
    print(i)

1
2
hello
12.34
world
45
67
85

In [9]:
tup = (2,3,4)
tup

(2, 3, 4)

In [10]:
type(tup)

tuple

In [11]:
tup[2] = 5

TypeError: 'tuple' object does not support item assignment

In [12]:
newlist[2] = 11.23

In [19]:
dic = {1:"hello", 2:"world", "md":"lol"}
dic

{1: 'hello', 2: 'world', 'md': 'lol'}

In [14]:
dic[1]

'hello'

In [15]:
dic[2]

'world'

In [22]:
dic["md"]

'lol'

In [25]:
for x, y in dic.items():
  print(x, y)

1 hello
2 world
md lol